<link rel="stylesheet" href="https://canvas.toddr.org/css/navigation.css">
<script src="https://canvas.toddr.org/js/admin.js"></script>
<link href="https://fonts.googleapis.com/css?family=Lexend+Exa&display=swap" rel="stylesheet">
<link rel="shortcut icon" type="image/png" href="https://toddr.org/images/favicon.png"/>
<link rel="stylesheet" href="https://canvas.toddr.org/css/user.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
title Administrator Panel

<style>
    |.image-cropper {
    |width: 40px;
    |height: 40px;
    |position: relative;
    |overflow: hidden;
    |border-radius: 50%;
    |}
    |
    |img {
    |display: inline;
    |margin: 0 auto;
    |height: 100%;
    |width: auto;
    |float: right;
    |}
    |
    |h1 {
    |font-family: Arial, Helvetica, sans-serif; 
    |float:left;
    |}
    |p {
    |font-family: Arial, Helvetica, sans-serif;    
    |}
    |h2 {
    |font-family: Arial, Helvetica, sans-serif;    
    |}
    |h3 {
    |font-family: Arial, Helvetica, sans-serif;    
    |}
    |button {
    |      border-radius: 4px;
    |background-color: #ff0000;
    |border: none;
    |color: #FFFFFF;
    |text-align: center;
    |font-size: 17px;
    |padding: 10px;
    |width: 100px;
    |cursor: pointer;
    |margin: 5px;
    |}
    |button.right{
    |float:right;
    |}
    |table{
    |width: 100%
    |}
    |input[type=text] {
    |width: 30%;
    |padding: 12px 20px;
    |margin: 8px 0;
    |box-sizing: border-box;
    |}
    |input:invalid {
    |    border: 1px solid red;
    |}
</style>

<div class="topnav">
    |<a href="https://canvas.toddr.org/feed" class="">Feed</a>
    |<a href="https://canvas.toddr.org/classes">Classes</a>
    |<a style="float: right" href="https://canvas.toddr.org/user" class="active"><div class="image-cropper"><img float="right" src="#{profilePictureURL}" class="rounded"></div></a>
</div>
<div class="main">

<span>
<table>
    |<tr>
    |</tr>
    |<tr>
    |<th><h1 style="text-align: left; display: flex; justify-content: center; align-content: center; flex-direction: column;">Administrator Panel</h1></th>
    |<th><button onclick="location.href = 'https:\/\/canvas.toddr.org/auth/logout';" id="logout" class="right submit-button" >Logout</button></th>
</table>
</span>
h2 Ban/Unban Users
h3 Ban User by UUID
<form onsubmit="banuser('#{databaseUUID}')">
    |<input id="banuserText" style="width:40%" type="text" value="" placeholder="Enter user UUID" required />
    |<button type="submit" style="width:10%" value="Submit key">Ban</button>
</form>
h3 Unban User by UUID
<form onsubmit="unbanuser('#{databaseUUID}'); return false">
    |<input id="unbanuserText" style="width:40%; height: 40px" type="text" value="" placeholder="Enter user UUID" required />
    |<button type="submit" style="width:10%" value="Submit key">Unban</button>
</form>
h2 Grant/Revoke User Administrator Permissions
h3 Grant Administrator Permissions
<form onsubmit="addadmin('#{databaseUUID}')">
    |<input id="addadminText" style="width:40%" type="text" value="" placeholder="Enter user UUID" required />
    |<button type="submit" style="width:10%" value="Submit key">Grant</button>
</form>
h3 Revoke Administrator Permissions
<form onsubmit="remadmin('#{databaseUUID}'); return false">
    |<input id="remadminText" style="width:40%; height: 40px" type="text" value="" placeholder="Enter user UUID" required />
    |<button type="submit" style="width:10%" value="Submit key">Revoke</button>
</form>
h2 Disable Assignment Canvas
p Pressing this button will toggle all users access to assignment canvas.
<form onsubmit="toggleService('#{databaseUUID}'); return false">
    |<button type="submit" class="downloadbtn" value="submit">Toggle Access</button>
</form>
h2 Set Statuspage Status
<h3> <a href="https://toddrylaarsdam.statuspage.io">https://toddrylaarsdam.statuspage.io</a> </h3>
<form onsubmit="setStatus('#{databaseUUID}, operational'); return false">
    |<button type="submit" class="downloadbtn" style="background-color: green;" value="Operational">Operational</button>
</form>
<form onsubmit="setStatus('#{databaseUUID}, degraded'); return false">
    |<button type="submit" class="downloadbtn" style="background-color: yellow;" value="Degraded">Degraded Performance</button>
</form>
<form onsubmit="setStatus('#{databaseUUID}, maintenance'); return false">
    |<button type="submit" class="downloadbtn" style="background-color: lightblue;"  value="Maintenance">Under Maintenance</button>
</form>
<form onsubmit="setStatus('#{databaseUUID}, minor'); return false">
    |<button type="submit" class="downloadbtn" style="background-color: orange;" value="Minor">Minor Outage</button>
</form>
<form onsubmit="setStatus('#{databaseUUID}, major'); return false">
    |<button type="submit" class="downloadbtn" style="background-color: red;" value="Major">Major Outage</button>
</form>
</div>


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Service Toggled</h2>
    </div>
    <div class="modal-body">
      <p>All users' access to Assignment Canvas has been toggled.</p>
    </div>
    <div class="modal-footer">
      <h3></h3>
    </div>
  </div>
</div>

<script src="https://5h2k01hs2jbw.statuspage.io/embed/script.js"></script>
