<link rel="shortcut icon" type="image/png" href="https://toddr.org/images/favicon.png"/>
<link rel="stylesheet" href="https://canvas.toddr.org/css/announcement.css">
<script src="https://canvas.toddr.org/js/announcement.js"></script>
<link href="https://fonts.googleapis.com/css?family=Lexend+Exa&display=swap" rel="stylesheet">
<link rel="shortcut icon" type="image/png" href="https://toddr.org/images/favicon.png"/>
<style>
    |.image-cropper {
    |width: 40px;
    |height: 40px;
    |position: relative;
    |overflow: hidden;
    |border-radius: 50%;
    |}
    |
    |img {
    |display: inline;
    |margin: 0 auto;
    |height: 100%;
    |width: auto;
    |float: right;
    |}
    |
    |h1 {
    |font-family: Arial, Helvetica, sans-serif; 
    |float:left;
    |}
    |p {
    |font-family: Arial, Helvetica, sans-serif;    
    |}
    |h2 {
    |font-family: Arial, Helvetica, sans-serif;    
    |}
    |h3 {
    |font-family: Arial, Helvetica, sans-serif;    
    |}
    |button {
    |      border-radius: 4px;
    |background-color: #ff0000;
    |border: none;
    |color: #FFFFFF;
    |text-align: center;
    |font-size: 17px;
    |padding: 10px;
    |width: 100px;
    |cursor: pointer;
    |margin: 5px;
    |}
    |button.right{
    |float:right;
    |}
    |table{
    |width: 100%
    |}
    |input[type=text] {
    |width: 30%;
    |padding: 12px 20px;
    |margin: 8px 0;
    |box-sizing: border-box;
    |}
    |input:invalid {
    |    border: 1px solid red;
    |}
</style>
<div style="margin-left:8px;">
h1 #{result.title}
<br>
<br>
<br>
<br>
<hr>
<div class="container">
<span><p style="float:right">#{result.user_name}</p></span>
p
    != result.message
<a href="#{result.attachment.url}"><p>#{result.attachment.display_name}</p></a>
</div>
each reply in replies
    <div class="container">
    <span><p style="float:right">#{reply.user_id}</p></span>
    p
        != reply.message
    <a href="#{reply.attachment.url}"><p>#{reply.attachment.display_name}</p></a>
    </div>


<script src="https://5h2k01hs2jbw.statuspage.io/embed/script.js"></script>