<link rel="stylesheet" href="https://canvas.toddr.org/css/navigation.css">
<script src="https://canvas.toddr.org/js/user.js"></script>
<link href="https://fonts.googleapis.com/css?family=Lexend+Exa&display=swap" rel="stylesheet">
<link rel="shortcut icon" type="image/png" href="https://toddr.org/images/favicon.png"/>
<link rel="stylesheet" href="https://canvas.toddr.org/css/user.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
title User | #{name}

<style>
    |.image-cropper {
    |width: 40px;
    |height: 40px;
    |position: relative;
    |overflow: hidden;
    |border-radius: 50%;
    |}
    |
    |img {
    |display: inline;
    |margin: 0 auto;
    |height: 100%;
    |width: auto;
    |float: right;
    |}
    |
    |h1 {
    |font-family: Arial, Helvetica, sans-serif; 
    |float:left;
    |}
    |p {
    |font-family: Arial, Helvetica, sans-serif;    
    |}
    |h2 {
    |font-family: Arial, Helvetica, sans-serif;    
    |}
    |h3 {
    |font-family: Arial, Helvetica, sans-serif;    
    |}
    |button {
    |      border-radius: 4px;
    |background-color: #ff0000;
    |border: none;
    |color: #FFFFFF;
    |text-align: center;
    |font-size: 17px;
    |padding: 10px;
    |width: 100px;
    |cursor: pointer;
    |margin: 5px;
    |}
    |button.right{
    |float:right;
    |}
    |table{
    |width: 100%
    |}
    |input[type=text] {
    |width: 30%;
    |padding: 12px 20px;
    |margin: 8px 0;
    |box-sizing: border-box;
    |}
    |input:invalid {
    |    border: 1px solid red;
    |}
</style>

<div class="topnav">
    |<a href="https://canvas.toddr.org/feed" class="">Feed</a>
    |<a href="https://canvas.toddr.org/classes">Classes</a>
    |<a style="float: right" href="https://canvas.toddr.org/user" class="active"><div class="image-cropper"><img float="right" src="#{profilePictureURL}" class="rounded"></div></a>
</div>
<div class="main">

<span>
<table>
    |<tr>
    |</tr>
    |<tr>
    |<th><h1 style="text-align: left; display: flex; justify-content: center; align-content: center; flex-direction: column;">Hello, #{name}</h1></th>
    |<th><button onclick="location.href = 'https:\/\/canvas.toddr.org/auth/logout';" id="logout" class="right submit-button" >Logout</button></th>
</table>
</span>
h2 Canvas Settings
p For more help: <a href="https://canvas.toddr.org/onboarding">see the onboarding guide</a>
h3 API Key
<form onsubmit="setCanvasAPI('#{databaseUUID}')">
    |<input id="canvasAPI" style="width:40%" type="text" value="" placeholder="Set Canvas API Key" required />
    |<button type="submit" style="width:10%" value="Submit key">Load</button>
</form>
h3 Canvas URL
p e.g. timothy.instructure.com (do not include https://)
<form onsubmit="setCanvasURL('#{databaseUUID}'); return false">
    |<input id="canvasURL" style="width:40%; height: 40px" type="text" value="" placeholder="Set Canvas URL" required />
    |<button type="submit" style="width:10%" value="Submit key">Load</button>
</form>
h2 Desktop Programs
p There is a downloadable desktop program with the same functionality and layout of canvas.toddr.org. MacOS support is coming soon.
<button class="downloadbtn" onclick="location.href='https:\/\/assignmentcanvas.blob.core.windows.net/downloads/assignment-canvas-win64latest.zip'"><i class="fa fa-download"></i> Download desktop client for Windows</button>
<br>
<br>
<hr>
<button class="downloadbtn" onclick="location.href='https:\/\/canvas.toddr.org/admin'">Administrator Panel</button>

</div>


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Reformatted URL</h2>
    </div>
    <div class="modal-body">
      <p>The Canvas URL was reformatted to fit our formatting guide. Please make sure the URL below still leads to canvas. If it is still valid the URL is already in our database and you can use Assignment Canvas. If it is not, please resubmit a URL.</p>
      <p id="canvasurl">URL didn't load</p>
    </div>
    <div class="modal-footer">
      <h3></h3>
    </div>
  </div>
</div>

<script src="https://5h2k01hs2jbw.statuspage.io/embed/script.js"></script>
